
.card_title {
  margin-top: 50px;
  margin-left: 30px

}

.card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px
}

.header_text {
  color: white;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 200;
}

.form-control-lgn {
    height: calc(1.5em + 1rem + 2px);
    padding: 10rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}